import React from 'react';
import styles from './<%- name -%>.scss';

const <%- className -%> = () => {
    return (
        <div
            data-qa="<%- name -%>"
            className={styles.container}
        >
            <%- className %>
        </div>
    );
};

export default <%- className -%>;
